input[type="text"]
input[type="email"]
input[type="url"]
input[type="password"]
input[type="search"]
textarea
	color $color__text-input
	border none
	border-bottom 2px solid $color__border-input
	background none
	outline none
	font-style italic
	font-size rem(20px)
	margin-bottom rem(25px)
	width 100%
	transition(all 200ms ease-out)

	+placeholder()
		color $color__text-input
		font-style italic
		font-size rem(20px)
		transition(all 200ms ease-out)

	&:focus
		border-bottom-color darken( $color__border-input, 20% )
		color darken( $color__border-input, 20% )

input[type="text"]
input[type="email"]
input[type="url"]
input[type="password"]
input[type="search"]
	padding 0 rem(10px)
	height rem(40px)
	line-height rem(40px)

textarea
	padding-left 3px
	width 100%

label
	margin-bottom 0
	sup
		display none

.nice-select
	width 100%
	border 2px solid $color__primary
	border-radius 0
	margin-bottom rem(25px)
	height 40px
	line-height 40px
	font-family $font__heading

	.current
		text-transform uppercase
		font-weight 700
		color $color__primary
		letter-spacing 0.1em
		font-size rem(16px)

	&:active
	&.open
	&:focus
		border-color: darken($color__primary, 20%)

	.list
		width 100%
		margin-left 0

	&:after
		width 15px
		height 15px
		border-bottom: 1px solid $color__primary
		border-right: 1px solid $color__primary
		margin-top -12px
		right 17px
		transform-origin 71% 71%

	&:before
		content ""
		absolute 0 45px 0 auto
		border-left 1px solid $color__primary

.wpcf7-checkbox
	label
		display block
	input[type="checkbox"]
		display none

		+ .wpcf7-list-item-label
			position relative
			vertical-align middle
			display inline-block
			font-family $font__heading
			text-transform uppercase
			color $color__primary
			font-size rem(13px)
			letter-spacing 0.1em
			cursor pointer
			user-select none

			&:before
				content ""
				width 23px
				height 23px
				border 1px solid $color__primary
				display inline-block
				vertical-align middle
				margin-right 26px

			&:after
				content ""
				width 15px
				height 15px
				background-color $color__primary
				display inline-block
				vertical-align middle
				margin-right 26px
				absolute 4px auto 0 4px
				transform scale(0, 0)
				transition(all 220ms cubic-bezier(.13,1.65,.75,.89))
			&:hover
				color darken($color__primary, 20%)

		&:checked
			+ .wpcf7-list-item-label:after
				transform scale(1, 1)


	.wpcf7-list-item
		margin 0

input[type="submit"]
	button()
	background-color $color__primary
	box-shadow none
	border-radius 0
	color #fff
	text-shadow none
	display inline-block
	width auto
	border none
	transition(all 200ms ease-out)

	&:hover
		background-color darken($color__primary, 20%)
		box-shadow none
		border none

.mc4wp
	&-form
		center(300px)

	&-alert
		border-radius 4px
		padding 6px
		margin-top 15px
		font-family $font__heading
		p
			margin 0

	&-error
		background-color #ea3838
		color #fff

	&-success
		background-color #36c12b
		color #fff